<ion-header>
        <ion-navbar>
                <ion-buttons start left (click)="fnDismissModal()">
                        <button ion-button icon-only>
                                <ion-icon name="arrow-back"></ion-icon>
                        </button>
                </ion-buttons>
                <ion-title>{{language.fnGetLanguage('title_notes')}}</ion-title>
                <ion-buttons right end style="opacity: 0;" showWhen="android">
                        <button ion-button icon-only>
                                <ion-icon name="arrow-back"></ion-icon>
                        </button>
                </ion-buttons>
        </ion-navbar>
</ion-header>
<ion-content>
        <div padding>
                <div *ngIf="navParams.get('isCart')">
                        <h6 *ngIf=" item && item.item_name">
                                {{language.fnGetLanguage('enter_your_notes')}}
                        </h6>
                        <ion-textarea rows="8" style="border: 1px solid lightgray" [(ngModel)]="note" placeholder="{{language.fnGetLanguage('note')}}..."></ion-textarea>
                        <div col-12 style="text-align: right">
                                <button ion-button col-6 color="golden" (click)="fnAddtoCart()">
                                        <span> {{language.fnGetLanguage('title_ok')}} </span>
                                </button>
                        </div>
                </div>
                <div *ngIf="!navParams.get('isCart')">
                        <h6 *ngIf="item && item.item_name">
                                {{language.fnGetLanguage('notes_for')}} {{ item.item_name }}
                        </h6>
                        <p *ngIf="item && item.note" style="min-height:100px;background: rgba(218, 216, 216, 0.32);;padding: 10px;">
                                {{ item.note }}
                        </p>
                </div>
        </div>
</ion-content>