<!--
  Generated template for the ChangeMobileNoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar>
                <ion-title>{{language.fnGetLanguage('title_change_mobile_no')}}</ion-title>
                <ion-buttons end style="opacity: 0;" showWhen="android">
                        <button ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{cartItem}}</ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>

</ion-header>


<ion-content padding>
        <div>
                <ion-row>
                        <ion-col col-12 style="text-align: center">
                                <img src="assets/img_logo/login-icon.png">
                                <h4 style="letter-spacing:3px">
                                        {{language.fnGetLanguage('change_mobile_no')}}
                                </h4>
                                <h6 style="font-weight: 100; ">
                                        {{language.fnGetLanguage('fill_up_the_bellow_to_change_registered_mobile_no')}}

                                </h6>
                        </ion-col>
                </ion-row>
                <ion-row class="mt20px">
                        <span class="spanPadding">{{language.fnGetLanguage('new_mobile_no')}}</span>
                        <ion-input col-12 type="tel" placeholder="{{language.fnGetLanguage('enter_new_mobile_no')}}" class="inputarea" [(ngModel)]="phoneNo"></ion-input>
                </ion-row>
                <button ion-button large color="golden" block class="mt20px" (click)="fnChangeMobileNo()">{{language.fnGetLanguage('next')}}</button>
        </div>
</ion-content>