<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar>
                <button menuToggle ion-button icon-only>
                        <ion-icon color="dark" name="menu"></ion-icon>
                </button>
                <ion-title>{{language.fnGetLanguage('title_login')}}</ion-title>
                <ion-buttons end style="opacity: 0;" showWhen="android">
                        <button ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{cartItem}}</ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>

</ion-header>


<ion-content padding>
        <div>
                <ion-row>
                        <ion-col col-12 style="text-align: center">
                                <img src="assets/img_logo/login-icon.png">
                                <h4 style="letter-spacing:3px">
                                        {{language.fnGetLanguage('title_login')}}
                                </h4>
                                <h6 style="font-weight: 100; ">

                                        {{language.fnGetLanguage('fill_up_the_bellow_to_login_your_account')}}
                                </h6>
                        </ion-col>
                </ion-row>
                <ion-row class="mt20px">
                        <span class="spanPadding">{{language.fnGetLanguage('mobile_no')}}.</span>
                        <ion-input col-12 type="tel" placeholder="{{language.fnGetLanguage('enter_your_mobile_no')}}"
                                class="inputarea" [(ngModel)]="phoneNo"></ion-input>
                </ion-row>
                <ion-row class="mt20px">
                        <span class="spanPadding">{{language.fnGetLanguage('password')}}</span>
                        <ion-input col-12 type="password" placeholder="{{language.fnGetLanguage('enter_your_password')}}"
                                class="inputarea" [(ngModel)]="password"></ion-input>
                </ion-row>
                <ion-row class="text_float_right">
                        <a href="javascript:void(0)" (click)="fnGoToForgottPasswordPage()" style="color: #6b4d0f;text-decoration: none; padding: 5px">
                                {{language.fnGetLanguage('forget_your_password')}}?
                        </a>
                </ion-row>
                <button ion-button large color="golden" block (click)="fnLogin()">{{language.fnGetLanguage('login')}}</button>
                <ion-row style="padding: 5px">
                        <ion-col col-12 style="text-align: center; ">
                                {{language.fnGetLanguage('dont_have_an_account')}}?
                        </ion-col>
                </ion-row>
                <button ion-button large outline color="golden" block (click)="fnRegister()" style="text-align: center; ">
                        {{language.fnGetLanguage('create_new_account')}}
                </button>
        </div>
</ion-content>