<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        <ion-navbar style="color: black;">
                <!-- <ion-buttons color="dark" start style="position: absolute;" class="posAb"> -->
                <button menuToggle ion-button icon-only start>
                        <ion-icon color="dark" name="menu"></ion-icon>
                </button>
                <button menuToggle ion-button icon-only start disabled style="opacity: 0;" showWhen="android">
                        <ion-icon color="dark" name="menu"></ion-icon>
                </button>
                <!-- </ion-buttons> -->
                <ion-title>
                        <img src="assets/imgs/logo-192x192.png" class="title_image">
                </ion-title>
                <ion-buttons end>
                        <button (click)="fnOpenNotificationPage()" end ion-button icon-only id="notification-button"
                                class="mr_min_15">
                                <ion-icon color="dark" name="notifications"></ion-icon>
                                <ion-badge small id="notifications-badge"
                                        *ngIf="notificationCount && notificationCount>0">
                                        {{ notificationCount }} </ion-badge>
                        </button>
                        <button (click)="fnOpenCart()" end ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{cartItem}}
                                </ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>
        <ion-toolbar class="cstTool">
                <ion-item>
                        <ion-input type="text" placeholder="{{language.fnGetLanguage('search_by_item_code')}} "
                                [(ngModel)]="searchString"></ion-input>
                        <button ion-button color="golden" (click)="fnSearch()" item-end icon-only clear
                                style="margin: 0">
                                <ion-icon color="golden" name="search"></ion-icon>
                        </button>
                </ion-item>
        </ion-toolbar>
</ion-header>


<ion-content [ngClass]="{'mtm8':!platform.is('ios')}">
        <div *ngIf="banners && banners.length>0 && categories && categories.length>0 && bank_detail"
                style="padding-top: 5px;">
                <div>
                        <ion-slides pager="true" autoplay="3000" loop="true" lazy-load-images>
                                <ion-slide  *ngFor="let banner of banners;let i = index" style="text-align: center" id ="baner_image_'+{{i}}+'_'">
                                        <img [attr.data-src]="banner.image_url" *ngIf="lazyLoadding"
                                                (load)="fnLoadImage('baner_image_'+i+'_')">
                                        <img [src]="banner.image_url" *ngIf="!lazyLoadding">
                                </ion-slide>
                        </ion-slides>
                </div>
                <div class="category_block">
                        <ion-row>
                                <ion-col>
                                        <p style="text-align: center;font-size: 20px; margin: 0;color: #5e361e">
                                                {{language.fnGetLanguage('our_collection')}}
                                        </p>
                                </ion-col>

                        </ion-row>
                        <ion-row style="padding-top: 0;padding-left: 5px;padding-right: 5px" lazy-load-images>
                                <ion-col col-6 (click)="fnCategary(category)"
                                        style="text-align: center;padding-left: 5px;padding-right: 5px"
                                        *ngFor="let category of categories;let j = index" id ="category_image_'+{{j}}+'_'">

                                        <img [attr.data-src]="category.image_url" *ngIf="lazyLoadding"
                                                 (load)="fnLoadImage('category_image_'+j+'_')">
                                        <img [src]="category.image_url" *ngIf="!lazyLoadding" >
                                        <div class="category-name">
                                                <div class="main-name" *ngIf="category.category_name_lang[appLang]">
                                                        {{category.category_name_lang[appLang]}}
                                                </div>
                                                <div class="main-name" *ngIf="!category.category_name_lang[appLang]">
                                                        {{ category.category_name }}
                                                </div>
                                                <div class="viewCollection">
                                                        {{language.fnGetLanguage('view_collection')}}

                                                </div>
                                        </div>
                                </ion-col>
                        </ion-row>
                </div>
                <div class="payment_detail">
                        <h6>
                                {{language.fnGetLanguage('payment_details')}}
                        </h6>
                        <div class="underLine">
                                &nbsp;
                        </div>
                        <p style="margin-top: 20px;line-height: 21px">
                                {{language.fnGetLanguage('we_are_happy_to_accepts_your_payments_in_our_bank_account')}}
                        </p>
                        <p style="text-align: center; line-height: 21px">
                                {{ bank_detail.bank_name }}
                                <br> {{language.fnGetLanguage('account_no')}} : {{bank_detail.ac_no}}
                                <br> {{language.fnGetLanguage('account_name')}} : {{bank_detail.ac_name}}
                                <br> {{language.fnGetLanguage('ifsc_code')}} : {{bank_detail.ifsc}}
                        </p>
                </div>
        </div>
</ion-content>