page-category {
    .item-inner {
        border: none;
    }
    #notification-button {
        position: relative;
        width: 42px;
        top: 1px;
        right: 1px;
        overflow: visible !important;
    }
    #notifications-badge {
        background-color: red;
        position: absolute;
        bottom: -3px;
        right: -3px;
        border-radius: 100%;
    }
    ion-select {
        float: right;
        padding: 0 10px;
        min-width: 100%;
        background: #f7f7f7;
    }
    .setIconSize {
        font-size: 2.2em;
    }
    .toolbar-title {
        .title_image {
            height: 36px;
        }
    }
    .toolbar{
        height: 50px;
        min-height: 50px;
    }
    
    .payment_detail {
        // border-top:1px solid #5e361e;
        border-top: 1px solid #f2dcae;
        background: #ffeabb;
        color: #5e361e;
        text-align: center;
        padding: 10px 10px 10px 10px;
        margin-top: 10px;
        .underLine {
            width: 40px;
            position: absolute;
            left: 50%;
            margin-left: -20px;
            height: 2px;
            background: #5e361e;
        }
    }
    .mr_min_15 {
        margin-right: -15px;
    }
    .bar-button-md:first-child {
        margin-left: 15px;
    }
    .toolbar-background {
        background: #fff !important;
    }
    /*
    .mtm8{
            margin-top:-8px; 
    }
    */
    .item-inner,
    ion-item {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .text-input {
        padding-left: 0 !important;
        font-size: small !important;
        margin: 0 !important;
        width: 100% !important;
    }
    .cstTool {
        .toolbar-content {
            border: 1px solid rgba(211, 211, 211, 0.6);
        }
    }
    .category-name {
        color: #5e361e;
        text-align: center !important;
        left: 3vw;
        right: 3vw;
        bottom: 10px;
        .main-name {
            padding-top: 1vh;
            padding-bottom: 1vh;
        }
        .viewCollection {
            text-align: center;
            background: #5e361e;
            color: #fff;
            margin-bottom: -1px;
            margin-left: 1.5vw;
            margin-right: 1.5vw;
            font-size: 3.8vw;
            padding-bottom: 2.3vw;
            padding-top: 2.3vw;
            border-radius: 5px;
            letter-spacing: .5px;
        }
    }
    .footer-md::before,
    .header-md::after,
    .tabs-md[tabsPlacement=bottom]>.tabbar::before,
    .tabs-md[tabsPlacement=top]>.tabbar::after {
        display: none;
    }
    .category_block {
        background: #fff;
        padding-bottom: 10px;
        margin-top: 5px;
    }
}