<!--
  Generated template for the FilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        <ion-toolbar *ngIf="platform.is('android')">
                <ion-row style="padding-top: 40px">
                        <button (click)="fnCancel()" clear ion-button icon-only col-2>
                                <ion-icon color="dark" name="arrow-back" style="    font-size: 22px;"></ion-icon>
                        </button>
                        <ion-title col-8 text-center>{{language.fnGetLanguage('title_filter')}}</ion-title>
                        <ion-buttons end col-2>
                                <button ion-button icon-only id="notification-button" style="opacity: 0;">
                                        <ion-icon color="dark" name="cart"></ion-icon>
                                        <ion-badge small id="notifications-badge">1</ion-badge>
                                </button>
                        </ion-buttons>
                </ion-row>
        </ion-toolbar>
        <ion-toolbar *ngIf="platform.is('ios')">
                <button (click)="fnCancel()" clear ion-button icon-only>
                        <ion-icon color="dark" name="arrow-back"></ion-icon>
                </button>
                <ion-title>{{language.fnGetLanguage('title_filter')}}</ion-title>
        </ion-toolbar>
</ion-header>


<ion-content>
        <ion-item class="price-slider">
                <ion-label class="price-slider-main-label">{{language.fnGetLanguage('price_range')}} :
                        {{selectedPrice.lower}} -
                        {{selectedPrice.upper}}</ion-label>
                <ion-range dualKnobs="true" color="golden" min="{{min}}" max="{{max}}" [(ngModel)]="selectedPrice">
                        <ion-label range-left>{{min}}</ion-label>
                        <ion-label range-right>{{max}}</ion-label>
                </ion-range>
        </ion-item>


        <ion-list>
                <div class="categoriesGroup">
                        <ion-list-header text-center>
                                {{language.fnGetLanguage('title_categories')}}
                        </ion-list-header>
                        <ion-item *ngFor="let category of categories">
                                <ion-checkbox [(ngModel)]="category.isSelected" item-end color="golden"> </ion-checkbox>
                                <ion-label>
                                                <span *ngIf="category.category_name_lang[appLang]">
                                                                <!-- {{category.category_name_lang}} -->
                                                                {{category.category_name_lang[appLang]}}
                                                        </span>
                                                        <span *ngIf="!category.category_name_lang[appLang]">
                                                                        <!-- {{category.category_name_lang}} -->

                                                                {{ category.category_name }}
                                                        </span>
                                </ion-label>
                        </ion-item>
                </div>
                <div class="sizeGroup" *ngIf="sizeArray && sizeArray.length > 0">
                        <ion-list-header text-center>
                                {{language.fnGetLanguage('title_size')}}
                        </ion-list-header>
                        <ion-item *ngFor="let s of sizeArray">
                                <ion-checkbox [(ngModel)]="s.isSelected" item-end color="golden"></ion-checkbox>
                                <ion-label>{{s.size_name}}</ion-label>
                        </ion-item>
                </div>

                <div class="otherFilterStuff">
                        <ion-list-header text-center>
                                {{language.fnGetLanguage('title_availabilities')}}
                        </ion-list-header>
                        <ion-item>
                                <ion-checkbox [(ngModel)]="is_special" item-end color="golden"></ion-checkbox>
                                <ion-label>{{language.fnGetLanguage('special')}}</ion-label>
                        </ion-item>

                        <ion-item>
                                <ion-checkbox [(ngModel)]="in_stock" item-end color="golden"></ion-checkbox>
                                <ion-label>{{language.fnGetLanguage('in_stock')}}</ion-label>
                        </ion-item>

                        <ion-item>
                                <ion-label style="color: #222">{{language.fnGetLanguage('item_code')}}</ion-label>
                                <ion-input [(ngModel)]="item_code" placeholder="{{language.fnGetLanguage('item_code')}}"></ion-input>
                        </ion-item>
                </div>
        </ion-list>
</ion-content>
<ion-footer>
        <ion-row>
                <ion-col col-6 color="light" text-center (click)="fnCancel()" style="font-weight: bold; margin: 0;letter-spacing: 2px !important;background: lightgray;padding: 17px">
                        {{language.fnGetLanguage('cancel')}}
                </ion-col>
                <ion-col col-6 text-center (click)="fnSearch()" style="font-weight:bold;margin: 0;letter-spacing: 2px !important;background: #9A772D;color: #fff;padding: 17px;">
                        {{language.fnGetLanguage('search')}}
                </ion-col>
        </ion-row>
</ion-footer>