page-filter {
    .item-inner {
        border: none !important;
    }
    .categoriesGroup {
        padding: 10px auto;
        .list-header {
            border-bottom: 1px solid #eee !important;
            border-top: 1px solid #eee;
            margin-bottom: 0px;
            color: gray !important;
            .label {
                margin: 6px 8px 6px 0;
            }
        }
        .item-inner {
            border-bottom: none !important;
            .checkbox {
                margin: 5px 10px 5px 0;
            }
        }
        .checkbox {
            margin: 5px 10px 5px 0;
        }
    }
    .sizeGroup {
        padding: 10px auto;
        .list-header {
            border-bottom: 1px solid #eee !important;
            border-top: 1px solid #eee;
            margin-bottom: 0px;
            color: gray !important;
            .label {
                margin: 6px 8px 6px 0;
            }
        }
        .item-inner {
            border-bottom: none !important;
            .checkbox {
                margin: 5px 10px 5px 0;
            }
        }
        .checkbox {
            margin: 5px 10px 5px 0;
        }
    }
    .otherFilterStuff {
        padding: 10px auto;
        .list-header {
            border-bottom: 1px solid #eee !important;
            border-top: 1px solid #eee;
            margin-bottom: 0px;
            color: gray !important;
            .label {
                margin: 6px 8px 6px 0;
            }
        }
        .item-inner {
            border-bottom: none !important;
            .checkbox {
                margin: 5px 10px 5px 0;
            }
        }
        .text-input {
            border-bottom: 1px solid lightgray !important;
            padding: 10px !important;
        }
        .checkbox {
            margin: 5px 10px 5px 0;
        }
    }
    .price-slider {
        .price-slider-main-label {
            margin: 13px 8px 0px 0;
            .label {
                margin: 13px 8px 0px 0;
            }
        }
    }
}