page-past-orders {
    #notification-button {
        position: relative;
        width: 42px;
        top: 1px;
        right: 1px;
        overflow: visible !important;
    }
    #notifications-badge {
        background-color: red;
        position: absolute;
        bottom: -3px;
        right: -3px;
        border-radius: 100%;
    }
    .delete_custome_position {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .totalrs_custome_position {
        position: absolute;
        bottom: 15%;
        /* width: 100%; */
        right: 10px;
    }
    td,
    th {
        padding: 8px;
        border: 1px solid lightgray;
    }
    .dateFormat {
        font-size: 40px;
        margin: 8px 0 8px 0 !important;
    }
    .details {
        font-size: 14px;
        line-height: 18px;
        padding-left: 10px;
        .label {
            margin: 0
        }
    }
    .android_icon {
        position: absolute;
        top: 33%;
        font-size: 20px;
        right: 10px;
        color: lightgray;
    }
    .item {
        border-bottom: 1px solid lightgray;
    }
    .item-inner {
        border: none !important;
    }
    .scroll-content {
        margin-top: 64px !important;
    }
    .toolbar-ios{
        ion-title{
                padding-top: 0 !important; 
        }
    }
    .noitem {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        img {
            height: 30%;
        }
    }
}