<!--
  Generated template for the PastOrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar>
                <button menuToggle ion-button icon-only>
                        <ion-icon color="dark" name="menu"></ion-icon>
                </button>
                <ion-title>{{language.fnGetLanguage('title_my_orders')}}</ion-title>
                <ion-buttons end>
                        <button (click)="fnOpenCart()" ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{cartItem}}</ion-badge>
                        </button>
                </ion-buttons>

                
                
        </ion-navbar>

</ion-header>


<ion-content>
        <div *ngIf="orders && orders.length>0">
                <button ion-item *ngFor="let order of orders;let i = index" (click)="fnOpenOrderPage(order,i)">
                        <div item-start class="dateFormat" color="golden">
                                <span style="color: #9A772D;padding-right:3px; ">
                                        {{order.order_date.split(' ')[0].split('-')[2] }}
                                </span>
                        </div>
                        <span item-start style="margin:12px 0px 8px 0; color: #9A772D">
                                <span>
                                        <span [ngSwitch]="order.order_date.split(' ')[0].split('-')[1]">
                                                <span *ngSwitchCase="'01'">
                                                        {{language.fnGetLanguage('jan')}}.
                                                </span>
                                                <span *ngSwitchCase="'02'">
                                                        {{language.fnGetLanguage('feb')}}.
                                                </span>
                                                <span *ngSwitchCase="'03'">
                                                        {{language.fnGetLanguage('mar')}}.
                                                </span>
                                                <span *ngSwitchCase="'04'">
                                                        {{language.fnGetLanguage('apr')}}.
                                                </span>
                                                <span *ngSwitchCase="'05'">
                                                        {{language.fnGetLanguage('may')}}.
                                                </span>
                                                <span *ngSwitchCase="'06'">
                                                        {{language.fnGetLanguage('jun')}}.
                                                </span>
                                                <span *ngSwitchCase="'07'">
                                                        {{language.fnGetLanguage('jul')}}.
                                                </span>
                                                <span *ngSwitchCase="'08'">
                                                        {{language.fnGetLanguage('aug')}}.
                                                </span>
                                                <span *ngSwitchCase="'09'">
                                                        {{language.fnGetLanguage('sept')}.
                                                </span>
                                                <span *ngSwitchCase="'10'">
                                                        {{language.fnGetLanguage('oct')}}.
                                                </span>
                                                <span *ngSwitchCase="'11'">
                                                        {{language.fnGetLanguage('nov')}}.
                                                </span>
                                                <span *ngSwitchCase="'12'">
                                                        {{language.fnGetLanguage('dec')}}.
                                                </span>
                                        </span>
                                        <br> {{order.order_date.split(' ')[0].split('-')[0]}}
                                </span>
                        </span>
                        <div class="details">
                                <span>{{language.fnGetLanguage('order_No')}}. {{ order.order_no }}
                                        <br> ₹{{ order.total_amount.toLocaleString('en-IN') }}
                                        <br>
                                        <span style="color: #666666">
                                                {{ order.status }}
                                        </span>
                                </span>
                                <span showWhen="android" class="android_icon">
                                        <ion-icon name="arrow-forward"></ion-icon>
                                </span>
                        </div>
                </button>
        </div>
        <div *ngIf="!orders || !(orders.length>0)"   style="margin: 10%; text-align: center; position: absolute; top: 30%" class="noitem">
                <img src="assets/img_logo/empty-shopping-cart.png">
                <h6>
                        {{language.fnGetLanguage('no_order_found')}}.
                </h6>
        </div>
</ion-content>