<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar>
                <button menuToggle ion-button icon-only>
                        <ion-icon color="dark" name="menu"></ion-icon>
                </button>
                <ion-title>{{language.fnGetLanguage('title_shopping_bag')}}</ion-title>
                <ion-buttons end>
                        <button ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{cartItem}}
                                </ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>

</ion-header>


<ion-content>
        <div *ngIf="cartData && cartData.length>0">
                <ion-row style="border-bottom: 1px solid lightgray;" *ngFor="let c of cartData;let i = index">
                        <ion-col col-4 *ngIf="c.gallary && c.gallary.length>0" style="padding-bottom: 2px;"
                                id="prod_image_{{i}}_{{c.item_id}}" class="setBackground" [style.width.px]="width"
                                [style.minHeight.px]="width*4/3">
                                <!-- <img src="{{ c.gallary[0].l }}" style="height: auto;width: auto"
                                        (click)="fnOpenProductPage(c)"> -->
                                <img [attr.data-src]="c.gallary[0].l" style="height: auto;width: auto"
                                        (load)="fnLoadImage('prod_image_'+i+'_'+c.item_id)"
                                        (click)="fnOpenProductPage(c)" *ngIf="lazyLoadding">
                                <img [src]="c.gallary[0].l" (click)="fnOpenProductPage(c)" *ngIf="!lazyLoadding">
                        </ion-col>
                        <ion-col col-5>
                                <h6 style="font-weight: bold" *ngIf="c.item_name_lang[appLang]">
                                        {{ c.item_name_lang[appLang] }}

                                </h6>
                                <h6 style="font-weight: bold" *ngIf="!c.item_name_lang[appLang]">
                                        {{ c.item_name }}
                                </h6>
                                <p>
                                        {{language.fnGetLanguage('code')}}
                                        <span style="font-weight: 600">
                                                {{c.item_code}}
                                        </span>
                                </p>
                                <p *ngIf="c.size">
                                        {{language.fnGetLanguage('size')}}
                                        <span style="font-weight: 600">
                                                {{ c.size}}
                                        </span>
                                </p>
                                <p>
                                        {{language.fnGetLanguage('rate')}}
                                        <span style="font-weight: 600">
                                                ₹{{ (c.sale_price).toLocaleString('en-IN') }}
                                        </span>
                                </p>
                                <table>
                                        <tr>
                                                <td (click)="fnDecreaseQuantity(c,i)"> - </td>
                                                <td>
                                                        <ion-input type="number" [(ngModel)]="c.qty"
                                                                (change)="onQtyChange(c,i)"
                                                                style="width: 44px;text-align: center"></ion-input>
                                                </td>
                                                <td (click)="fnIncreaseQuantity(c,i)"> + </td>
                                        </tr>
                                </table>
                        </ion-col>
                        <ion-col col-3>
                                <span class="delete_custome_position" (click)="fnRemoveFromCart(c,i)">
                                        <ion-icon name="trash" style="font-size: 30px;"></ion-icon>
                                </span>
                                <span class="notes_icon_position" (click)="fnShowNotes(c,i)">
                                        <ion-icon name="list-box" style="font-size: 25px"></ion-icon>
                                </span>
                                <span class="totalrs_custome_position" color="golden">
                                        ₹{{ (c.qty*c.sale_price).toLocaleString('en-IN') }}
                                </span>
                        </ion-col>
                </ion-row>
        </div>
        <div *ngIf="!cartData || cartData.length==0"
                style="margin: 10%; text-align: center; position: absolute; top: 30%" class="noitem">
                <img src="assets/img_logo/empty-shopping-cart.png">
                <h6>
                        {{language.fnGetLanguage('no_items_in_your_cart')}}
                </h6>
        </div>
</ion-content>
<ion-footer>
        <ion-row style="background: #9A772D">
                <ion-col col-6 style="padding: 10px;background: #eeeeee;" id="col">
                        <div style="text-align: center;padding: 7px; font-weight:bold;" color="golden">
                                {{language.fnGetLanguage('total')}} :
                                <span *ngIf="cartData && cartData.length>0">
                                        ₹{{ totalAmount.toLocaleString('en-IN') }}</span>
                                <span *ngIf="!cartData || !(cartData.length>0)" style="font-weight:bold;">
                                        ₹0.00
                                </span>
                        </div>
                </ion-col>
                <ion-col col-6 style="padding: 10px;height: auto; margin: auto; background: #9A772D"
                        (click)="fnPlaceOrder()" id="col2">
                        <div style="text-align: center;padding: 7px; color: #fff;cursor: pointer; font-weight:bold;">
                                {{language.fnGetLanguage('place_order')}}
                        </div>
                </ion-col>

        </ion-row>
</ion-footer>