page-cart {
    #notification-button {
        position: relative;
        width: 42px;
        top: 1px;
        right: 1px;
        overflow: visible !important;
    }
    #notifications-badge {
        background-color: red;
        position: absolute;
        bottom: -3px;
        right: -3px;
        border-radius: 100%;
    }
    .delete_custome_position {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .notes_icon_position{
        position: absolute;
        top: 40px;
        right: 10px;
    }
    .totalrs_custome_position {
        position: absolute;
        bottom: 15%;
        /* width: 100%; */
        right: 10px;
        font-weight: bold;
    }
    td,
    th {
        padding: 8px;
        border: 1px solid lightgray;
    }
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
        background: none !important;
    }
    .scroll-content {
        margin-top: 55px !important;
    }
    h6 {
        margin-top: 5px;
    }
    .noitem{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            img{
                height: 30%;
        }
    }
    .text-input{
            margin: 0 !important;
            padding: 0;
            width: 44px;
            text-align: center;
    }
}