page-splash {
    .background {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: url('../assets/imgs/splash.png') center center;
        background-size:cover; 
    }
}