<!--
  Generated template for the UserDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar>
                <button menuToggle ion-button icon-only>
                        <ion-icon color="dark" name="menu"></ion-icon>
                </button>
                <ion-title>{{language.fnGetLanguage('title_profile')}}</ion-title>
                <ion-buttons end showWhen="android" style="opacity: 0;">
                        <button ion-button icon-only id="notification-button" style="opacity: 0;">
                                <ion-icon color="dark" name="cart" style="opacity: 0;"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0" style="opacity: 0;">{{cartItem}}</ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>

</ion-header>


<ion-content padding>
        <ion-row>
                <ion-col col-4>

                </ion-col>

                <ion-col style="text-align: center" class="profile_photo" col-4 [ngStyle]="{'background-image': 'url(' + imageFileName + ')'}">
                        <button ion-button small color="light" (click)="getImage()" class="upload_image">
                                <ion-icon name="camera"></ion-icon>
                        </button>

                        <img src="assets/img_logo/create-profile.png" *ngIf="!imageFileName" alt="Ionic File" style="border-radius: 50%;" />
                </ion-col>
                <ion-col col-4>

                </ion-col>
        </ion-row>
        <ion-list>

                <ion-row class="mt20px">
                        <span class="spanPadding">{{language.fnGetLanguage('name')}}*</span>
                        <ion-input col-12 type="text" placeholder="{{language.fnGetLanguage('name')}}" class="inputarea" [(ngModel)]="name"></ion-input>
                </ion-row>
                <ion-row class="mt20px" *ngIf="changeMobile">
                        <span col-12 class="spanPadding">{{language.fnGetLanguage('mobile_no')}}.</span>
                        <ion-input col-6 type="tel" class="inputarea inputareamobile " [(ngModel)]="mobileno" style="max-width:100%!important"
                                disabled></ion-input>
                        <a col-6 small href="javascript:void(0)" (click)="fnchangeMobileNo()" style="padding-left: 10px; padding-top: 15px;text-decoration: none">
                                {{language.fnGetLanguage('change_mobile_no')}}.
                        </a>
                </ion-row>
                <ion-row class="mt20px">
                        <span class="spanPadding">{{language.fnGetLanguage('email_id')}}</span>
                        <ion-input col-12 type="text" placeholder="{{language.fnGetLanguage('your_email_id')}}" class="inputarea"
                                [(ngModel)]="email"></ion-input>
                </ion-row>

                <ion-row class="mt20px">
                        <span class="spanPadding">{{language.fnGetLanguage('address_line')}} 1</span>
                        <ion-input col-12 type="text" placeholder="{{language.fnGetLanguage('enter_address_line')}} 1"
                                class="inputarea" [(ngModel)]="address_line_1"></ion-input>
                </ion-row>

                <ion-row class="mt20px">
                        <span class="spanPadding">{{language.fnGetLanguage('address_line')}} 2</span>
                        <ion-input col-12 type="text" placeholder="{{language.fnGetLanguage('enter_address_line')}} 2"
                                class="inputarea" [(ngModel)]="address_line_2"></ion-input>
                </ion-row>




                <ion-row class="mt20px">
                        <ion-col col-6>
                                <span class="spanPadding">{{language.fnGetLanguage('city')}}</span>
                                <ion-input col-12 type="text" placeholder="{{language.fnGetLanguage('enter_city')}}"
                                        class="inputarea" [(ngModel)]="city"></ion-input>
                        </ion-col>
                        <ion-col col-6>
                                <span class="spanPadding">{{language.fnGetLanguage('pincode')}}</span>
                                <ion-input col-12 type="tel" placeholder="{{language.fnGetLanguage('enter_pincode')}} "
                                        class="inputarea" [(ngModel)]="pincode"></ion-input>
                        </ion-col>

                </ion-row>

                <ion-row class="mt20px">
                        <ion-col col-6>
                                <span class="spanPadding">{{language.fnGetLanguage('state')}}</span>
                                <ion-input col-12 type="text" placeholder="{{language.fnGetLanguage('enter_state')}} "
                                        class="inputarea" [(ngModel)]="state"></ion-input>
                        </ion-col>
                        <ion-col col-6>
                                <span class="spanPadding">{{language.fnGetLanguage('country')}}</span>
                                <ion-input col-12 type="text" placeholder="{{language.fnGetLanguage('enter_country')}} "
                                        class="inputarea" [(ngModel)]="country"></ion-input>
                        </ion-col>

                </ion-row>
                <ion-row class="mt20px">
                        <span class="spanPadding">{{language.fnGetLanguage('phone_number')}}</span>
                        <ion-input col-12 type="tel" placeholder="{{language.fnGetLanguage('enter_phone_no')}}." class="inputarea"
                                [(ngModel)]="phone_no"></ion-input>
                </ion-row>
        </ion-list>

</ion-content>
<ion-footer>
        <button ion-button block color="golden" large (click)="fnSubmitUserData()" style="margin: 0">
                <span *ngIf="!cart.isPlaceOrder">
                        {{language.fnGetLanguage('submit')}}
                </span>
                <span *ngIf="cart.isPlaceOrder">
                        {{language.fnGetLanguage('title_next')}}
                </span>
        </button>
</ion-footer>