page-user-detail {
    .upload_image {
        border-radius: 50%;
        height: 3.1em;
        width: 3.1em;
        position: absolute;
        right: -10%;
        bottom: 12%;
        ion-icon {
            display: inline-block;
            font-size: 2.2em;
        }
    }
    .inputarea {
        border: 1px solid lightgray;
        margin-top: 5px; // text-align: center;
        // margin: 10px 5px;
        // .text-input{
        //         text-align: center
        // }
    } //     .text-input-md {
    //         text-align: center;
    //     }
    .mt20 {
        margin-top: 20%;
    }
    .cstbtn {
        margin: 10px;
    }
    .spanPadding {
        padding-bottom: 5px;
    }
    .mt20px {
        margin-top: 20px
    }
    .inputareamobile{
        .text-input{
                max-width: 100%;
        }
    }
    .scroll-content {
        margin-top: 55px !important;
    }
    .profile_photo{
            height: 100px;
            width: 1000px;
            border-radius: 50%;
            background-size:cover; 
    }
}