<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        <ion-navbar style="color: black;">
                <button menuToggle ion-button icon-only>
                        <ion-icon color="dark" name="menu"></ion-icon>
                </button>
                <ion-title>
                        <div></div>
                        <div *ngIf="data && data.category_name">
                                <span *ngIf="data.category_name_lang[appLang]">
                                        {{data.category_name_lang[appLang]}}
                                </span>
                                <span *ngIf="!data.category_name_lang[appLang]">
                                        {{ data.category_name }}
                                </span>
                        </div>
                </ion-title>
                <ion-buttons end>
                        <button (click)="fnOpenCart()" ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{cartItem}}</ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>
        <ion-toolbar style="height: auto; padding: 0;" class="selector">
                <ion-row>
                        <ion-col col-6 text-center (click)="fnSort()">
                                <ion-icon color="dart" name="md-arrow-round-up"></ion-icon>
                                <ion-icon color="dart" style="margin-left: -5px" name="md-arrow-round-down"></ion-icon>
                                {{language.fnGetLanguage('sort')}}
                        </ion-col>
                        <ion-col col-6 text-center (click)="fnOpenFilterModal()">
                                <ion-icon color="dart" name="funnel"></ion-icon>{{language.fnGetLanguage('filter')}} 
                        </ion-col>
                </ion-row>
        </ion-toolbar>

</ion-header>

<ion-content class="asd" (ionScroll)="onScroll($event)" overflow-scroll="false">
        <div padding style="margin-top:55px ">
                <div *ngIf="items && items.length > 0">
                        <ion-row lazy-load-images>
                                <ion-col *ngFor="let item of items" col-6 (click)="fnOpenProductPage(item)">
                                        <div class="setBackground" [style.width.px]="width" [style.minHeight.px]="width*4/3" id="prod_image_{{i}}_{{item.item_id}}">
                                                <img [attr.data-src]="item.item_image" (load)="fnLoadImage('prod_image_'+i+'_'+item.item_id)" *ngIf="lazyLoadding">
                                                <img [src]="item.item_image" *ngIf="!lazyLoadding">
                                        </div>
                                        <div class="special_tag" *ngIf="item.in_stock=='1'&&item.is_special==1">
                                                {{language.fnGetLanguage('special')}}
                                        </div>
                                        <div class="special_tag" style="background: red !important" *ngIf="item.in_stock=='0'">
                                                {{language.fnGetLanguage('title_out_of_stock')}}
                                        </div>
                                        <div style="text-align: center">
                                                <p style="line-height: 20px">
                                                        <span style="font-weight: 800">
                                                                <span style="color: gray">
                                                                        {{language.fnGetLanguage('code')}} : {{
                                                                        item.item_code }}
                                                                </span>
                                                                <br>
                                                                <span *ngIf="item.item_name_lang[appLang]">
                                                                        {{item.item_name_lang[appLang]}}
                                                                </span>
                                                                <span *ngIf="!item.item_name_lang[appLang]">
                                                                        {{ item.item_name }}
                                                                </span>
                                                                <br>
                                                        </span>
                                                        <span style="color: #6b4d0f; font-weight:bold; line-height: 20px;padding-top: 20px">₹{{
                                                                item.sale_price.toLocaleString('en-IN') }} </span>

                                                </p>
                                        </div>
                                </ion-col>
                        </ion-row>
                </div>
                <div *ngIf="pagination && pagination.next">
                        <ion-infinite-scroll (ionInfinite)="fnLoadMoreData($event)">
                                <ion-infinite-scroll-content></ion-infinite-scroll-content>
                        </ion-infinite-scroll>
                </div>
                <div *ngIf="!items || items.length == 0" style="margin: 10%; text-align: center; position: absolute; top: 30%"
                        class="noitem">
                        <img src="assets/img_logo/empty-shopping-cart.png">
                        <br>
                        <h6>
                                {{language.fnGetLanguage('no_any_record_found')}}
                        </h6>
                </div>
        </div>
</ion-content>