page-settings {
    .scroll-content {
        padding-top: 25%;
        background: url('../assets/imgs/spalsh_new.jpg');
        background-size: cover;
    }
    .set-item-pos {
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;
        .badge {
            color: #fff;
            background: #666;
            padding: 10px 15px;
            margin: 5px;
            border-radius: 32px;
        }
        .active {
            color: #9A772D;
            color: #fff;
        }
    }
    .langactive { 
        background: #9A772D !important;
        color: #fff !important;
    }
}