<ion-content>
        <div class="set-item-pos">
                <ion-row>
                        <ion-col text-center>
                                <img style="width: 200px" src="assets/imgs/logo.png">
                        </ion-col>
                </ion-row>
                <ion-grid *ngIf="lang && lang.key">
                        <ion-row>
                                <ion-col text-center>
                                        <h6>
                                                Choose your language
                                        </h6>
                                </ion-col>
                        </ion-row>
                        <ion-row>
                                <ion-col text-center>
                                        <ng-template ngFor let-la [ngForOf]="languages">
                                                <ion-badge (click)="fnSelectLanguage(la)" *ngIf="la.key == lang.key"
                                                        class="langactive">
                                                        <ion-icon name="checkmark" style="color: transparent">
                                                        </ion-icon>{{la.value}}
                                                        <ion-icon name="checkmark"></ion-icon>
                                                </ion-badge>
                                                <ion-badge (click)="fnSelectLanguage(la)" *ngIf="la.key != lang.key">
                                                        <ion-icon name="checkmark" style="color: transparent">
                                                        </ion-icon>{{la.value}}
                                                        <ion-icon name="checkmark" style="color: transparent">
                                                        </ion-icon>
                                                </ion-badge>
                                        </ng-template>

                                </ion-col>
                        </ion-row>
                        <ion-row style="margin-top:15px; ">
                                <ion-col text-center>
                                        <button ion-button round
                                                style="border-radius: 32px;padding: 0px 15px; height: 2em !important;"
                                                (click)="fnChoseLang()" color="golden">
                                                NEXT &nbsp; <ion-icon name="arrow-round-forward"></ion-icon>
                                        </button>
                                </ion-col>
                        </ion-row>
                </ion-grid>
        </div>
</ion-content>