<!--
  Generated template for the OtpVerifyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar>
                <ion-title>{{language.fnGetLanguage('title_set_password')}}</ion-title>
                <ion-buttons end style="opacity: 0;" showWhen="android">
                        <button ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{cartItem}}</ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>

</ion-header>


<ion-content padding>
        <div>
                <div *ngIf="!ForgottPAsswordIcon">
                        <ion-row>
                                <ion-col col-4></ion-col>
                                <ion-col col-4 style="text-align: center">
                                        <img src="assets/img_logo/signup.png">
                                </ion-col>
                                <ion-col col-4></ion-col>
                        </ion-row>
                        <ion-row>
                                <ion-col col-12 style="text-align: center">
                                        <h4 style="letter-spacing:3px">
                                                {{language.fnGetLanguage('title_signup')}}
                                        </h4>
                                        <h6 style="font-weight: 100; ">
                                                {{language.fnGetLanguage('please_submit_otp_and_set_your_password')}}.
                                        </h6>
                                </ion-col>
                        </ion-row>
                </div>
                <ion-row *ngIf="ForgottPAsswordIcon">
                        <ion-col col-12 style="text-align: center">
                                <img src="assets/img_logo/login-icon.png">
                                <h4 style="letter-spacing:3px">
                                        {{language.fnGetLanguage('forgot_password')}}
                                </h4>
                                <h6 style="font-weight: 100; ">
                                        {{language.fnGetLanguage('fill_up_the_bellow_to_reset_your_password')}}
                                </h6>
                        </ion-col>
                </ion-row>
                <ion-row class="mt20px">
                        <span class="spanPadding">{{language.fnGetLanguage('title_otp')}}</span>
                        <ion-input col-12 type="tel" placeholder="{{language.fnGetLanguage('enter_otp')}}" class="inputarea"
                                [(ngModel)]="otp"></ion-input>
                </ion-row>

                <ion-row class="mt20px">
                        <span class="spanPadding">{{language.fnGetLanguage('password')}}</span>
                        <ion-input col-12 type="password" placeholder="{{language.fnGetLanguage('enter_your_password')}}"
                                class="inputarea" [(ngModel)]="password"></ion-input>
                </ion-row>

                <ion-row class="mt20px">
                        <span class="spanPadding">{{language.fnGetLanguage('confirm_password')}}</span>
                        <ion-input col-12 type="password" placeholder="{{language.fnGetLanguage('re_enter_your_password')}}"
                                class="inputarea" [(ngModel)]="conirmPassword"></ion-input>
                </ion-row>
                <button ion-button large color="golden" block (click)="fnRegisterSecondStap()" class="mt20px">{{language.fnGetLanguage('next')}}</button>
                <ion-row style="margin-bottom: -15px;     padding: 5px;">
                        <ion-col col-12 style="text-align: center;">
                                {{language.fnGetLanguage('didn_t_get_otp')}}?
                        </ion-col>
                </ion-row>
                <button ion-button large color="golden" outline block (click)="fnResendOtp()" [disabled]="resenedOtpFlag"
                        class="mt20px">
                        {{language.fnGetLanguage('resend')}}
                        <span *ngIf="!resenedOtpFlag">&nbsp;{{language.fnGetLanguage('otp')}}</span>
                        <span *ngIf="resenedOtpFlag">&nbsp;{{language.fnGetLanguage('_after_')}}&nbsp;{{ second }} s</span>
                </button>
        </div>
</ion-content>