page-otp-verify {
    .inputarea {
        border: 1px solid lightgray; // text-align: center;
        // margin: 10px 5px;
        // .text-input{
        //         text-align: center
        // }
    } //     .text-input-md {
    //         text-align: center;
    //     }
    .mt20 {
        margin-top: 20%;
    }
    .cstbtn {
        margin: 10px;
    }
    .spanPadding {
        padding-bottom: 5px;
    }
    .mt20px {
        margin-top: 20px
    }
    .text_float_right {
        float: right;
        padding: 10px 0;
    }
    h6 {
        margin-top: 0.6rem;
    }
    .scroll-content {
        margin-top: 55px !important;
    }
}