<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        <ion-navbar style="color: black;">
                <button menuToggle ion-button icon-only *ngIf="navCtrl.canGoBack()">
                        <ion-icon color="dark" name="menu"></ion-icon>
                </button>
                <button (click)="fnGotoNotificationPage()" ion-button icon-only clear *ngIf="!navCtrl.canGoBack()">
                        <ion-icon color="dark" name="arrow-back"></ion-icon>
                </button>
                <ion-title>
                        <div *ngIf="item && item.category_name">
                                <span *ngIf="item.category_name_lang[appLang]">
                                        {{item.category_name_lang[appLang]}}
                                </span>
                                <span *ngIf="!item.category_name_lang[appLang]">
                                        {{ item.category_name }}
                                </span>
                        </div>
                </ion-title>
                <ion-buttons end>
                        <button (click)="fnOpenCart()" ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{ cartItem }}</ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>
</ion-header>


<ion-content>
        <div *ngIf="showLoader && item">

                <div *ngIf="item && item.gallary && item.gallary.length>0">
                        <div class="mt20">
                                <ion-slides pager="true">
                                        <!-- <ion-slide *ngFor="let img of item.gallary;let i=index" (click)="fnOpenImageViewer(item.gallary)">
                                                <img src="{{img.l}}" [style.height.px]="height" id="img{{i}}">
                                        </ion-slide> -->

                                        <ion-slide *ngFor="let img of item.gallary;let i=index" (click)="fnOpenImageViewer(item.gallary)" lazy-load-images>
                                                <img [attr.data-src]="img.l" [style.height.px]="height" id="img{{i}}" *ngIf="lazyLoadding">
                                                <img [src]="img.l" [style.height.px]="height" id="img{{i}}" *ngIf="!lazyLoadding">
                                               
                                        </ion-slide>
                                </ion-slides>
                        </div>
                </div>
                <ion-row *ngIf="item && item.item_name" class="mt10">
                        <ion-col>
                                <p style="text-align: center;font-size: 20px; margin: 0" *ngIf="item.item_name_lang[appLang]">
                                        {{item.item_name_lang[appLang]}}
                                </p>
                                <p style="text-align: center;font-size: 20px; margin: 0" *ngIf="!item.item_name_lang[appLang]">
                                        {{ item.item_name }}
                                </p>
                        </ion-col>
                </ion-row>
                <div *ngIf="item" class="mt10">
                        <ion-list>
                                <ion-item class="customBorder">
                                        <ion-label>
                                                {{language.fnGetLanguage('code')}}
                                        </ion-label>
                                        <div item-content>
                                                {{ item.item_code }}
                                        </div>
                                </ion-item>

                                <ion-item *ngIf="item.size">
                                        <ion-label>
                                                {{language.fnGetLanguage('size')}}
                                        </ion-label>
                                        <div item-content>
                                                {{ item.size }}
                                        </div>
                                </ion-item>




                                <ion-item>
                                        <ion-label>
                                                {{language.fnGetLanguage('min')}}{{language.fnGetLanguage('order_qty')}}
                                        </ion-label>
                                        <div item-content>
                                                {{ item.min_order_qty }} {{item.unit_name}}
                                        </div>
                                </ion-item>

                                <ion-item>
                                        <ion-label>
                                                {{language.fnGetLanguage('rate')}}
                                        </ion-label>
                                        <div item-content>
                                                ₹{{ item.sale_price.toLocaleString('en-IN') }}
                                        </div>
                                </ion-item>
                                <ion-item>
                                        <ion-label>
                                                {{language.fnGetLanguage('quantity')}}
                                        </ion-label>
                                        <div item-content style="border: 1px solid lightgray" class="abosInput"
                                                item-right end>
                                                <ion-icon name="remove-circle" (click)="decrement()" class="iconCst"></ion-icon>
                                                <span class="iconCst bh">
                                                        <ion-input type="number" (change)="fnQtyChange()" [(ngModel)]="item.qty"
                                                                pattern="[0-9]*" [style.width.px]="inputWidth" required="true"
                                                                clearInput=true min="{{ item.min_order_qty }}" class="forInput"></ion-input>
                                                </span>
                                                <ion-icon name="add-circle" (click)="increment()" class="iconCst"></ion-icon>
                                        </div>
                                </ion-item>
                                <ion-item>
                                        <ion-label>
                                                {{language.fnGetLanguage('total_amount')}}
                                        </ion-label>
                                        <div item-content style="font-weight:bold">
                                                ₹{{ (item.qty*item.sale_price).toLocaleString('en-IN') }}
                                        </div>
                                </ion-item>
                                <ion-item *ngIf="item" class="remove-bottom-line border-top">
                                        {{language.fnGetLanguage('notes')}}
                                </ion-item>
                                <ion-item *ngIf="item" class="remove-bottom-line">
                                        <ion-textarea style="border: 1px solid lightgray;margin: 5px auto" [(ngModel)]="item.note"
                                                rows="4" placeholder="{{language.fnGetLanguage('notes')}}...."></ion-textarea>
                                </ion-item>
                        </ion-list>
                </div>
        </div>
        <canvas id="canvas" style="display: none"></canvas>
</ion-content>
<ion-footer>
        <ion-row>
                <ion-col text-center style="margin: 0;letter-spacing: 2px !important;background: #9A772D;color: #fff;padding-top: 15px !important; font-weight: bold;padding-bottom: 15px !important"
                        *ngIf="item && item.in_stock=='1'" (click)="fnAddToCart()">
                        <ion-icon style="color: #fff" name="cart"></ion-icon>
                        {{language.fnGetLanguage('title_add_to_cart')}}
                </ion-col>
                <ion-col text-center style="margin: 0;letter-spacing: 2px !important;background: firebrick;color: #fff;padding-top: 15px !important; font-weight: bold;padding-bottom: 15px !important"
                        *ngIf="item && item.in_stock == '0'">
                        <ion-icon style="color: green" name="logo-whatsapp"></ion-icon>
                        {{language.fnGetLanguage('title_out_of_stock')}}
                </ion-col>
        </ion-row>
</ion-footer>