page-product {
    #notification-button {
        position: relative;
        width: 42px;
        top: 1px;
        right: 1px;
        overflow: visible !important;
    }
    #notifications-badge {
        background-color: red;
        position: absolute;
        bottom: -3px;
        right: -3px;
        border-radius: 100%;
    }
    ion-select {
        float: right;
        padding: 0 10px;
        min-width: 100%;
        background: #f7f7f7;
    }
    .setIconSize {
        font-size: 2.2em;
    }
    .mt20 {
        margin-top: 20px;
    }
    .iconCst {
        padding: 8px;
        text-align: center;
        font-size: 1em;
    }
    .bh {
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
    }
    .mt10 {
        margin-top: 10px;
    }
    .forInput {
        display: inline-block;
        width: auto;
        max-width: 65px;
        .text-input {
            text-align: center;
            padding: 0 !important;
            margin: 0 !important;
        }
        .text-input-clear-icon {
            display: none !important;
        }
    }
    .abosInput {
        position: absolute;
        top: 50%;
        height: 34px;
        right: 10px;
        margin-top: -17px !important;
    }
    .customBorder {
        .item-inner {
            border-top: 1px solid #fff !important;
        }
    }
    .item-inner {
        border-bottom: 1px solid #fff !important;
        border-top: 1px solid #dedede !important;
        box-shadow: none !important
    }
    .label {
        color: #000 !important;
    }
    .item {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .list {
        border-top: 1px solid #dedede;
    }
    .cstToast {
        background: green !important;
        color: #fff !important;
    }
    .toast-wrapper {
        background: green !important;
        color: #fff !important;
    }
    .toast-md {
        background: green !important;
        color: #fff !important;
    }
    .mt20 {
        margin-top: 20px;
    }
    .scroll-content {
        margin-top: 55px !important;
        margin-bottom: 35px !important;
    }
    .remove-bottom-line {
        border-bottom-color: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        .item-inner {
            border-bottom: none !important;
            border-top: none !important;
            box-shadow: none !important;
            .label-md {
                margin: 13px 8px 0px 0
            }
        }
    }
    .border-top {
        .item-inner {
            border-top: 1px solid #dedede !important;
        }
    }
    
}