<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar>
                <button menuToggle ion-button icon-only start>
                        <ion-icon color="dark" name="menu"></ion-icon>
                </button>
                <ion-title>{{language.fnGetLanguage('title_change_password')}}</ion-title>
                <ion-buttons end style="opacity: 0;" showWhen="android">
                        <button ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{cartItem}}</ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>

</ion-header>


<ion-content padding>
        <ion-row>
                <ion-col col-12 style="text-align: center">
                        <img src="assets/img_logo/login-icon.png">
                        <h4 style="letter-spacing:3px">
                                {{language.fnGetLanguage('change_password')}}
                        </h4>
                        <h6 style="font-weight: 100; ">
                                {{language.fnGetLanguage('fill_up_the_bellow_to_change_your_password')}}

                        </h6>
                </ion-col>
        </ion-row>

        <ion-row class="mt20px">
                <span class="spanPadding">{{language.fnGetLanguage('old_password')}}</span>
                <ion-input col-12 type="password" placeholder="{{language.fnGetLanguage('enter_old_password')}}" class="inputarea"
                        [(ngModel)]="oldPassword"></ion-input>
        </ion-row>

        <ion-row class="mt20px">
                <span class="spanPadding">{{language.fnGetLanguage('new_password')}}</span>
                <ion-input col-12 type="password" placeholder="{{language.fnGetLanguage('enter_new_password')}}" class="inputarea"
                        [(ngModel)]="newPassword"></ion-input>
        </ion-row>
        <ion-row class="mt20px">
                <span class="spanPadding">{{language.fnGetLanguage('confirm_password')}}</span>
                <ion-input col-12 type="password" placeholder="{{language.fnGetLanguage('re_enter_your_password')}}"
                        class="inputarea" [(ngModel)]="conformPassword"></ion-input>
        </ion-row>
        <button ion-button large color="golden" block (click)="fnChangePassword()" class="mt20px">{{language.fnGetLanguage('submit')}}</button>

</ion-content>