// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.button-md {
        border-radius: 0;
        box-shadow: none;
        font-size: 1.8rem;
        letter-spacing: 2px;
}

.menucontent {
        // background: #5e361e;
        .item {
                background: transparent;
        }
}

.setBackground {
        background: url('../assets/imgs/img_load.jpg');
        background-size: cover;
}

.item-inner {
        background: transparent;
}

.button {
        border-radius: 0;
        box-shadow: none;
}

.toolbar {
        height: 55px;
}

ion-app {
        letter-spacing: 2px;
}

.title {
        background: transparent;
}

// .posAb{
//         position: absolute;
// }
.toolbar-title-md {
        text-align: center;
}

.title_image {
        height: 20px;
}

.text-input {
        letter-spacing: 2px;
        padding-left: 10px;
        margin: 8px 0px !important;
}

.align-center {
        text-align: center;
}

.highlight {
        background-color: #f4f4f4;
}

.center {
        display: block;
        margin: 0 auto;
}

.vertical-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
}

.top-radius {
        border-radius: 10% 10% 0 0;
}

.bottom-radius {
        border-radius: 0 0 10% 10%;
}

.round {
        border-radius: 50%;
}

.transparent-header {
        // This is just to make the header transparent and button/icon with white color
        .toolbar-content,
        .back-button {
                color: white;
        }
        .toolbar-background,
        ion-navbar,
        ion-header {
                background: transparent !important;
                background-color: transparent !important;
        }
        .header-md::after,
        .toolbar-background-ios {
                background-image: none;
                border-bottom: 0;
        }
        .header-ios .toolbar-background-ios,
        .footer-ios .toolbar-background-ios {
                border: 0;
        } // ---
}

.ourCollections,
.Profile {
        //     background: blue;
        margin-left: 28px;
}

.active {
        font-weight: bolder;
}

.sidebar_button_active {
        font-weight: bolder;
}

#menu-material {
        letter-spacing: 2px;
        .item-inner {
                border-bottom: none !important;
        }
        .menu-header {
                padding: 15px 15px;
                background-image: url('../assets/imgs/bg-header.jpg');
                background-size: cover;
                background: #5e361e !important;
                color: #fff;
                width: 100%;
                z-index: 99;
                .name {
                        font-weight: 500;
                        margin-bottom: 3px;
                }
                .e-mail {
                        margin-top: 0;
                        margin-bottom: 5px;
                }
        }
        .user-avatar {
                // padding: 0.5em;
                background: #fff;
        }
        h3,
        .label,
                {
                color: #6b4d0f;
                font-weight: 400;
                letter-spacing: 2px;
        }
        ion-icon {
                color: #777;
        }
        .custome_position {}
        .zoom {
                top: 0 !important
        }
}

.selected {
        color: #9A772D !important;
        .button-inner {
                justify-content: left;
                ion-icon {
                        position: absolute !important;
                        right: 10px !important;
                }
        }
}

.notselected {
        color: #000 !important;
        .button-inner {
                justify-content: left;
        }
}

.langactive {
        color: #9A772D;
        color: #fff;
}

.action-sheet-group {
        overflow: hidden !important;
}

/*
.show-page {
    opacity: 0;
    .modal-wrapper {
        height: 60% !important;
        top: 20% !important;
        border: 1px solid lightgray !important;
    }
}
*/

// #b69755s