<ion-menu [content]="content" (ionOpen)="menuOpened()">

        <ion-content class="menucontent">
                <div id="menu-material">

                        <ion-item class="menu-header">
                                <ion-avatar item-start style="background: #ffeabb;border-radius: 50%;" class="user-avatar">
                                        <img [src]="chosenPicture || placeholder" onerror="this.src='assets/imgs/feather-icon.png'" />
                                </ion-avatar>
                                <h2 style="color: #fff;">{{ name }}</h2>
                                <p style="color: #fff"> {{ mobileNo }}</p>
                        </ion-item>


                </div>
                <ion-list no-lines id="menulist" style="padding-top:10px; ">
                        <div *ngFor="let p of pages" style="padding: 10px auto">
                                <button ion-item detail-none (click)="openPage(p)" [ngClass]="{'ourCollections':p.parent == 'collections','Profile':p.parent == 'Profile'}"
                                        style="height: 4rem!important; min-height: 4rem">
                                        <span [class.active]="p.hasChild">
                                                <span *ngIf="p.icon">
                                                        <ion-icon name="{{p.icon}}"></ion-icon> &nbsp;
                                                </span>
                                                {{ p.title }}
                                        </span>
                                </button>
                        </div>
                        <div style="padding: 10px auto">
                                <button ion-item detail-none menuToggle (click)="fnGoToSettingPage()" style="height: 4rem!important; min-height: 3.5rem">
                                        <ion-icon name="keypad"></ion-icon> &nbsp; {{language.fnGetLanguage('change_language')}}
                                </button>
                        </div>
                        <div style="padding: 10px auto">
                                <button ion-item detail-none (click)="fnShareViaWhatsApp()" style="height: 4rem!important; min-height: 3.5rem">
                                        <ion-icon name="logo-whatsapp" style="color: green"></ion-icon> &nbsp;  {{language.fnGetLanguage('whatsapp')}}
                                </button>
                        </div>
                        <div *ngIf="isLoggedIn" style="padding: 10px auto">
                                <button ion-item detail-none (click)="fnLogout()" style="height: 4rem!important; min-height: 3.5rem">
                                        <ion-icon name="md-log-out"></ion-icon>
                                        &nbsp; {{language.fnGetLanguage('logout')}}
                                </button>
                        </div>
                </ion-list>
        </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>