<!--
  Generated template for the NotoficationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar>
                <button (click)="fnGotoHomePage()" ion-button icon-only clear *ngIf="!navCtrl.canGoBack()">
                        <ion-icon color="dark" name="arrow-back"></ion-icon>
                </button>
                <ion-title>{{language.fnGetLanguage('title_hot_collections')}}</ion-title>
                <ion-buttons end>
                        <button (click)="fnOpenCart()" end ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{cartItem}}</ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>
</ion-header>


<ion-content>
        <div *ngIf="items && items.length > 0">
                <div class="new_item" *ngIf="newData && newData.length > 0">
                        {{language.fnGetLanguage('unseen')}}
                </div>
                <div padding *ngIf="newData && newData.length > 0">
                        <ion-row *ngIf="newData && newData.length > 0" lazy-load-images>

                                <ion-col *ngFor="let item of newData" col-6 (click)="fnOpenProductPage(item)" class="cst_item">
                                        <div class="setBackground" [style.width.px]="width" [style.minHeight.px]="width*4/3">
                                                <img [attr.data-src]="item.item_image" (load)="fnLoadImage('prod_image_'+i+'_'+c.item_id)" *ngIf="!lazyLoadding">
                                                <img [src]="item.item_image" (load)="fnLoadImage('prod_image_'+i+'_'+c.item_id)" *ngIf="!lazyLoadding">
                                       
                                        </div>
                                        <div class="special_tag" *ngIf="item.is_special==1">
                                                {{language.fnGetLanguage('title_special')}}
                                        </div>
                                        <div style="text-align: center">
                                                <p style="line-height: 20px">
                                                        <span style="font-weight: 800">

                                                                <span style="color: gray">
                                                                        {{language.fnGetLanguage('code')}} : {{
                                                                        item.item_code }}
                                                                </span>
                                                                <br><span *ngIf="item.item_name_lang[appLang]">
                                                                                {{item.item_name_lang[appLang]}}
                                                                        </span>
                                                                        <span *ngIf="!item.item_name_lang[appLang]">
                                                                                {{ item.item_name }}
                                                                        </span>
                                                                <br>
                                                        </span>
                                                        <span style="color: #6b4d0f; font-weight:bold; line-height: 20px;padding-top: 20px">₹{{
                                                                item.sale_price.toLocaleString('en-IN') }} </span>

                                                </p>
                                        </div>
                                </ion-col>
                        </ion-row>
                </div>
                <div class="new_item" *ngIf="seenData && seenData.length > 0">
                        Seen
                </div>
                <div padding *ngIf="seenData && seenData.length > 0">
                        <ion-row *ngIf="seenData && seenData.length > 0" lazy-load-images>
                                <ion-col *ngFor="let item of seenData" col-6 (click)="fnOpenProductPage(item)" class="cst_item">
                                        <div class="setBackground" [style.width.px]="width" [style.minHeight.px]="width*4/3">
                                                <img [attr.data-src]="item.item_image" (load)="fnLoadImage('prod_image_'+i+'_'+c.item_id)" *ngIf="!lazyLoadding">
                                                <img [src]="item.item_image" (load)="fnLoadImage('prod_image_'+i+'_'+c.item_id)" *ngIf="!lazyLoadding">
                                       
                                        </div>
                                        <div class="special_tag" *ngIf="item.is_special==1">
                                                {{language.fnGetLanguage('title_special')}}
                                        </div>
                                        <div style="text-align: center">
                                                <p style="line-height: 20px">
                                                        <span style="font-weight: 800">

                                                                <span style="color: gray">
                                                                        {{language.fnGetLanguage('code')}} : {{
                                                                        item.item_code }}
                                                                </span>
                                                                <br> <span *ngIf="item.item_name_lang[appLang]">
                                                                {{item.item_name_lang[appLang]}}
                                                        </span>
                                                        <span *ngIf="!item.item_name_lang[appLang]">
                                                                {{ item.item_name }}
                                                        </span>
                                                                <br>
                                                        </span>
                                                        <span style="color: #6b4d0f; font-weight:bold; line-height: 20px;padding-top: 20px">₹{{
                                                                item.sale_price.toLocaleString('en-IN') }} </span>
                                                </p>
                                        </div>
                                </ion-col>
                        </ion-row>
                </div>
        </div>

        <div *ngIf="!items || items.length == 0" style="margin: 10%; text-align: center; position: absolute; top: 30%"
                class="noitem">
                <img src="assets/img_logo/empty-shopping-cart.png">
                <br>
                <h6>
                        {{language.fnGetLanguage('no_any_record_found')}}.
                </h6>
        </div>
</ion-content>