page-notofication {
    #notification-button {
        position: relative;
        width: 42px;
        top: 1px;
        right: 1px;
        overflow: visible !important;
    }
    #notifications-badge {
        background-color: red;
        position: absolute;
        bottom: -3px;
        right: -3px;
        border-radius: 100%;
    }
    ion-select {
        float: right;
        padding: 0 10px;
        min-width: 100%;
        background: #f7f7f7;
    }
    .setIconSize {
        font-size: 2.2em;
    }
    .customeDesign {
        position: absolute;
        top: -33%;
        font-size: 20px;
        color: #544d4d;
    }
    .special_tag {
        position: absolute;
        top: 15px;
        left: 15px;
        background: black;
        color: #fff;
        padding: 5px;
        font-size: 12px;
        letter-spacing: 0.5px;
    }
    .cstColor {
        background: #9A772D !important;
        color: #fff;
    }
    .inputArea {
        background: #fff;
        padding: 0 5px;
        margin: auto 13px;
        width: calc(100% - 26px);
    }
    .setBackground {
        //     background: url('../assets/img_logo/default-product.jpg');
        background: #fff;
        text-align: center;
    }
    .scroll-content {
        margin-top: 55px !important;
    }
    .noitem {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        img {
            height: 30%;
        }
    }
    .show {
        display: block !important;
    }
    .hide {
        display: none !important;
    }
    .cst_item {
        text-align: center;
    }
    .new_item {
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
        width: 100%;
        color: #9C741E;
        background: #eee;
        padding: 10px;
    }
}
