<!--
  Generated template for the SearchItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar>
                <ion-title>
                        <!-- <img src="assets/imgs/logo-192x192.png" class="title_image"> -->
                        {{language.fnGetLanguage('title_search_item')}}
                       
                </ion-title>
                <ion-buttons end style="opacity: 0;" showWhen="android">
                        <button ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{cartItem}}</ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>
        <ion-toolbar class="cstTool">
                <ion-item>
                        <ion-input type="text" placeholder="{{language.fnGetLanguage('search_by_item_code')}}" [(ngModel)]="searchString"></ion-input>
                        <button ion-button color="golden" (click)="fnSearch()" item-right clear icon-only style="margin: 0">
                                <ion-icon color="golden" name="search"></ion-icon>
                        </button>
                </ion-item>
        </ion-toolbar>
</ion-header>

<ion-content class="asd" (ionScroll)="onScroll($event)" overflow-scroll="false">
        <div padding style="margin-top:55px ">
                <div *ngIf="items && items.length > 0">
                        <ion-row lazy-load-images>
                                <ion-col *ngFor="let item of items" col-6 (click)="fnOpenProductPage(item)">
                                        <div class="setBackground" [style.width.px]="width" [style.minHeight.px]="width*4/3" id="prod_image_{{i}}_{{item.item_id}}">
                                                <img [attr.data-src]="item.item_image" (load)="fnLoadImage('prod_image_'+i+'_'+item.item_id)" *ngIf="lazyLoadding">
                                                <img [src]="item.item_image" *ngIf="!lazyLoadding">
                                                
                                        </div>
                                        <div class="special_tag" *ngIf="item.in_stock=='1'&&item.is_special==1">
                                                {{ language.fnGetLanguage('title_special') }}
                                        </div>
                                        <div class="special_tag" style="background: red !important" *ngIf="item.in_stock=='0'">

                                                {{ language.fnGetLanguage('title_out_of_stock') }}
                                        </div>
                                        <div style="text-align: center">
                                                <p style="line-height: 20px">
                                                        <span style="font-weight: 800">

                                                                <span style="color: gray">
                                                                        {{language.fnGetLanguage('code')}} : {{
                                                                        item.item_code }}
                                                                </span>
                                                                <br> <span *ngIf="item.item_name_lang[appLang]">
                                                                                {{item.item_name_lang[appLang]}}
                                                                        </span>
                                                                        <span *ngIf="!item.item_name_lang[appLang]">
                                                                                {{ item.item_name }}
                                                                        </span>
                                                                <br>
                                                        </span>
                                                        <span style="color: #6b4d0f; font-weight:bold; line-height: 20px;padding-top: 20px">₹{{
                                                                item.sale_price.toLocaleString('en-IN') }}
                                                        </span>

                                                </p>
                                        </div>
                                </ion-col>
                        </ion-row>
                </div>
                <div *ngIf="pagination && pagination.next">
                        <ion-infinite-scroll (ionInfinite)="fnLoadMoreData($event)">
                                <ion-infinite-scroll-content></ion-infinite-scroll-content>
                        </ion-infinite-scroll>
                </div>
                <div *ngIf="!items || items.length == 0" style="margin: 10%; text-align: center; position: absolute; top: 30%"
                        class="noitem">
                        <img src="assets/img_logo/empty-shopping-cart.png">
                        <br>
                        <h6>
                                {{language.fnGetLanguage('no_any_record_found')}}.
                        </h6>
                </div>
        </div>
</ion-content>