<!--
  Generated template for the OrderSuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar>
                <button menuToggle ion-button icon-only start>
                        <ion-icon color="dark" name="menu"></ion-icon>
                </button>
                <ion-title>{{language.fnGetLanguage('title_success')}}</ion-title>
                <ion-buttons end style="opacity: 0;" showWhen="android">
                        <button ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{cartItem}}</ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>

</ion-header>


<ion-content>
        <div class="outer">
                <div class="middle">
                        <div class="inner">
                                <img src="assets/imgs/ok.png">
                                <p>{{language.fnGetLanguage('your_order_is_successfully_placed')}}</p>
                                <button ion-button clear color="golden" (click)="fnGotToCategoryPage()">
                                        {{language.fnGetLanguage('continue_shopping')}} &nbsp;
                                        <ion-icon name="arrow-round-forward"></ion-icon>
                                </button>
                        </div>
                </div>
        </div>
</ion-content>