page-order-success {
    .outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .middle {
        display: table-cell;
        vertical-align: middle;
    }
    .inner {
        margin-left: auto;
        margin-right: auto;
        /* width: 400px; */
        vertical-align: middle;
        padding: 10%;
        text-align: center;
        img{
                max-width: 100%;
                border: 0;
                width: 35%;
        }
        p{
                padding-top:15px; 
        }
    }
}