image-viewer.ion-page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    height: 100%;

    opacity: 1;

    ion-navbar {
        &.toolbar .toolbar-background {
            background-color: transparent;
        }

        &.toolbar.toolbar-ios {
            padding-top: calc(20px + 4px);
        }

        .bar-button-default {
            color: white;
        }
    }

    .backdrop {
        will-change: opacity;
    }

    .image-wrapper {
        position: relative;
        z-index: 10;

        display: flex;
        overflow: hidden;
        flex-direction: column;
        pointer-events: none;

        margin-top: 56px;

        flex-grow: 1;
        justify-content: center;
    }

    .image {
        will-change: transform;
    }

    img {
        display: block;

        pointer-events: auto;

        max-width: 100%;
        max-height: 100vh;
        margin: 0 auto;
    }
}
