<!--
  Generated template for the ShippingAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar>


                <ion-title>{{language.fnGetLanguage('title_billing_and_shipping')}}</ion-title>
                <ion-buttons end style="opacity: 0;" showWhen="android">
                        <button ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{cartItem}}</ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>

</ion-header>


<ion-content padding>

        <div>
                <ion-row>
                        <ion-col col-4>

                        </ion-col>
                        <ion-col col-4>
                                <img src="assets/img_logo/shipping.png">
                        </ion-col>
                        <ion-col col-4>

                        </ion-col>
                </ion-row>
                <ion-row>
                        <ion-col col-12 style="text-align: center">
                                <h4 style="letter-spacing:3px">
                                        {{language.fnGetLanguage('title_billing_and_shipping')}}
                                </h4>
                                <h6 style="font-weight: 100; ">
                                        {{language.fnGetLanguage('fill_up_the_bellow_to_set_your_billing_and_shipping_address')}}

                                </h6>
                        </ion-col>
                </ion-row>
                <ion-row class="mt20px">
                        <span class="spanPadding">{{language.fnGetLanguage('billing_address')}}</span>
                        <ion-textarea col-12 type="phone" placeholder="{{language.fnGetLanguage('enter_your_billing_address')}}"
                                class="inputarea" [(ngModel)]="billingAddress" (ionChange)="fnChangeBillingAddress()"
                                rows="7"></ion-textarea>
                </ion-row>
                <ion-row style="padding-top:10px ">
                        <ion-checkbox [(ngModel)]="sameAsbillingAddress" (ionChange)="fnSameAsBillingAddress()"></ion-checkbox>
                        <ion-label class="spanPadding" style="margin: 0 0 0 5px;">{{language.fnGetLanguage('shipping_address_same_as_billing_address')}}</ion-label>
                </ion-row>
                <ion-row class="mt20px" style="    margin-top: 30px;">
                        <span class="spanPadding">{{language.fnGetLanguage('shipping_address')}}</span>
                        <ion-textarea col-12 type="phone" placeholder="{{language.fnGetLanguage('enter_your_shipping_address')}}"
                                class="inputarea" [(ngModel)]="shippingAddress" rows="7" [disabled]="sameAsbillingAddress"></ion-textarea>
                </ion-row>
        </div>
</ion-content>
<ion-footer>
        <button ion-button large block color="golden" (click)="fnPlaceOrder()" style="margin: 0">{{language.fnGetLanguage('place_order')}}</button>
</ion-footer>