page-image-viewer {
    .no-scroll {
        .scroll-content {
            overflow: hidden !important;
        }
    }
    .scroll-content {
        margin-top: 0px !important
    }
    .closeBtn {
        position: absolute;
        font-size: large;
        padding: 4px 4px 4px 5px;
        color: #fff;
        text-align: center;
        height: 25px;
        width: 25px;
        background: black;
        font-size: 15px;
        top: 25px;
        right: 10px;
        border-radius: 50%;
        z-index: 9999;
    }
    .top50{
            top: 60px !important;
    }
    .downloadBtn {
        position: absolute;
        font-size: large;
        padding: 4px 4px 4px 5px;
        color: #fff;
        text-align: center;
        height: 25px;
        width: 25px;
        background: black;
        font-size: 15px;
        top: 25px;
        left: 10px;
        border-radius: 50%;
        z-index: 9999;
    }
    .swiper-pagination-bullet {
        height: 25px;
        width: 25px;
    }
    .thumbnil {
        position: absolute;
        bottom: -5px;
        width: 100%;
        text-align: center;
        z-index: 99;
        img {
            height: 50px;
        }
    }
    .border {
        border: 1px solid #9A772D;
    }
    
    @media only screen and (min-height: 768px) and (min-width: 768px) {
        .top0 {
            top: 0% !important;
        }
    }
    
}