<!--
  Generated template for the ImageViewerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content no-bounce disable-scroll class="no-scroll">

        <ion-slides style="position: absolute; top: 50px;" class="top0" (ionSlideDidChange)="slideChanged()"  speed="300" 
                pager="false" [style.height.px]="height">
                <ion-slide *ngFor="let img of data; let i = index" >
                        <img [src]="img.o" id="gallary{{i}}" imageViewer="{{ img.o }}" style="z-index: 9998;" #cmp >
                        <div (click)="fnDownloadImage(img.o,i)" class="closeBtn" style="z-index: 9999;" >
                                <ion-icon name="cloud-download"></ion-icon>
                        </div>

                        <div (click)="fnOpenImageZoomer(cmp,i)" class="closeBtn top50" style="z-index: 9999;">
                                <ion-icon name="search"></ion-icon>
                        </div>
                </ion-slide>
        </ion-slides>

        <ion-row class="thumbnil" style="z-index: 9996;">
                <div style="width: 100%;">
                        <img [src]="img.o" *ngFor="let img of data;let i = index" style="margin: 5px;cursor: pointer;" [ngClass]="{'border':i == selectedSlide}"
                                 (click)="fnchangeSlide(i)">
                </div>
        </ion-row>
        <div (click)="fnCloseImageViewer()" class="closeBtn" style="z-index: 9999;">X</div>
        <canvas id="canvas" style="display: none"></canvas>
</ion-content>