page-past-order-detail {
    .cstHeader {
        border-bottom: 1px solid lightgray;
        width: 100%;
        padding: 15px;
        z-index: 99;
        background: #eee;
    }
    .scroll-content {
        margin-top: 56px !important;
    }
    .set_fildset {
        margin: 5px;
        width: calc(100%-10px);
    }
    #notification-button {
        position: relative;
        width: 42px;
        top: 1px;
        right: 1px;
        overflow: visible !important;
    }
    #notifications-badge {
        background-color: red;
        position: absolute;
        bottom: -3px;
        right: -3px;
        border-radius: 100%;
    }
}