<!--
  Generated template for the PastOrderDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar>
                <ion-title>{{navParams.get('data').order_no}}</ion-title>
                <ion-buttons end>
                        <button (click)="fnOpenCart()" ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{ cartItem }}
                                </ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>

</ion-header>


<ion-content>
        <ion-row class="cstHeader">
                <ion-col col-6>
                        <span style="color:#9C741E;font-weight: bold">
                                {{language.fnGetLanguage('date')}}
                        </span>

                        <br /> {{ navParams.get('data').order_date.split(' ')[0].split('-')[2] }}/{{
                        navParams.get('data').order_date.split('
                        ')[0].split('-')[1] }}/{{ navParams.get('data').order_date.split(' ')[0].split('-')[0] }}
                </ion-col>
                <ion-col col-6 style="text-align: right;">
                        {{ navParams.get('data').status }}
                </ion-col>
                <ion-col col-12 *ngIf="orderData && orderData.shipping_address">
                        <span style="color:#9C741E;font-weight: bold">
                                {{language.fnGetLanguage('shipping_to')}}:
                                <br>
                        </span>
                        {{orderData.shipping_address}}
                </ion-col>
        </ion-row>
        <div *ngIf="items && items.length>0">
                <ion-row style="border-bottom: 1px solid lightgray;" *ngFor="let item of items;let i = index"
                        lazy-load-images>
                        <ion-col col-4 class="setBackground" [style.width.px]="width" [style.minHeight.px]="width*4/3"
                                id="prod_image_{{i}}_{{item.item_id}}">
                                <img [attr.data-src]="item.item_image" style="height: auto;width: auto"
                                        (load)="fnLoadImage('prod_image_'+i+'_'+item.item_id)" *ngIf="lazyLoadding">
                                <img [src]="item.item_image" style="height: auto;width: auto" *ngIf="!lazyLoadding">
                        </ion-col>
                        <ion-col col-8>
                                <h6 style="font-weight: bold">
                                        <span *ngIf="item.item_name_lang[appLang]">
                                                {{item.item_name_lang[appLang]}}
                                        </span>
                                        <span *ngIf="!item.item_name_lang[appLang]">
                                                {{ item.item_name }}
                                        </span>
                                </h6>
                                <p>

                                        {{language.fnGetLanguage('code')}}
                                        <span style="font-weight: bold">
                                                {{item.item_code}}
                                        </span>
                                </p>
                                <p *ngIf="item.size">

                                        {{language.fnGetLanguage('size')}}
                                        <span style="font-weight: bold">
                                                {{item.size}}
                                        </span>
                                </p>
                                <p>

                                        {{language.fnGetLanguage('rate')}}
                                        <span style="font-weight: bold">
                                                {{ item.rate}}
                                        </span>
                                </p>
                                <p>

                                        {{language.fnGetLanguage('qty')}}
                                        <span style="font-weight: bold">
                                                {{ item.qty}}
                                        </span>
                                </p>
                                <p>
                                        {{language.fnGetLanguage('total')}}
                                        <span style="font-weight: bold">
                                                ₹{{ item.amount.toLocaleString('en-IN') }}
                                        </span>
                                </p>
                                <p *ngIf="item.note">
                                        <button ion-button small clear
                                                (click)="fnShowNotes(item)">{{language.fnGetLanguage('note')}}</button>
                                </p>
                        </ion-col>

                </ion-row>

        </div>
</ion-content>
<ion-footer large style="text-align: center;background: #9A772D;padding: 10px">
        <ion-row>
                <ion-col style="padding: 10px; color: #fff;    font-size: 1.7rem;">
                        {{language.fnGetLanguage('title_total')}} :
                        ₹{{ navParams.get('data').total_amount.toLocaleString('en-IN') }}
                </ion-col>
        </ion-row>
</ion-footer>