<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar>
                <ion-title>{{language.fnGetLanguage('title_signup')}}</ion-title>
                <ion-buttons end style="opacity: 0;" showWhen="android">
                        <button ion-button icon-only id="notification-button">
                                <ion-icon color="dark" name="cart"></ion-icon>
                                <ion-badge small id="notifications-badge" *ngIf="cartItem && cartItem>0">{{cartItem}}</ion-badge>
                        </button>
                </ion-buttons>
        </ion-navbar>

</ion-header>


<ion-content padding>

        <div>
                <ion-row>
                        <ion-col col-4></ion-col>
                        <ion-col col-4 style="text-align: center">
                                <img src="assets/img_logo/signup.png">
                        </ion-col>
                        <ion-col col-4></ion-col>
                </ion-row>
                <ion-row>
                        <ion-col col-12 style="text-align: center">
                                <h4 style="letter-spacing:3px">
                                        {{language.fnGetLanguage('title_signup')}}
                                </h4>
                                <h6 style="font-weight: 100; ">
                                        {{language.fnGetLanguage('please_signup_with_your_mobile_no')}}.
                                </h6>
                        </ion-col>
                </ion-row>
                <ion-row class="mt20px">
                        <span class="spanPadding">{{language.fnGetLanguage('mobile_no')}}.</span>
                        <ion-input col-12 type="tel" placeholder="{{language.fnGetLanguage('enter_your_mobile_no')}}." class="inputarea" [(ngModel)]="phoneNo"></ion-input>
                </ion-row>
                <button ion-button large color="golden" block (click)="fnRegister()" class="mt20px">{{language.fnGetLanguage('next')}}</button>
        </div>
</ion-content>